[Unit]
Description=meter Service
After=multi-user.target

[Service]
WorkingDirectory=/root
User=root
Type=idle
ExecStart=/root/start_solar.sh
Restart=always

[Install]
WantedBy=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
